@use 'react-responsive-tools' as *;

@layer section {
  .WelcomeSct {
    margin: auto;
    text-align: left;
    display: grid;
    gap: 15px;
    & > div{
      display: flex;
      justify-content: space-evenly;
    }
    & > h1{
      text-align: center;
    }

    .logo {
      height: 6em;
      width: 6em;
      will-change: filter;
      transition: filter 300ms;
      &:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
      }
      &.react {
        &:hover {
          filter: drop-shadow(0 0 2em #61dafbaa);
        }
      }
    }

    .card {
      padding: 2em;
      display: grid;
      justify-items: center;
      gap: 10px;
    }

    .readTheDoc {
      color: #888;
    }

  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
