@use 'react-responsive-tools' as *;

@layer layout {
  .Header {
    height:var(--header-height);
    background-color: var(--primary-bg);
    padding: 5px var(--layout-inner-h-padding);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-lg{
      padding: 15px var(--layout-inner-h-padding);
    }

    .themeBtn{
      text-transform: capitalize;
      width: 140px;

    }
  }
}
