@use 'react-responsive-tools' as *;

@layer layout {
  .MainLayout {
    --header-height: 50px;
    --layout-inner-h-padding: 1vh;
    --layout-inner-v-padding: 1vw;

    --layout-sct-v-padding: 2vh;

    width: 100vw;
    height: 100vh;
    display: grid;
    .inner{
      padding: var(--layout-inner-v-padding) var(--layout-inner-h-padding);
    }

    @include for-lg{
      --layout-inner-h-padding: 2vh;
      --layout-inner-v-padding: 2vw;
      --header-height: 60px;
    }
    h1 {
      font-size: 3.2em;
      line-height: 1.1;
    }
  }
}
