
@mixin DarkTheme(){
    --primary-color: #646cff;
    --primary-color-accent: #535bf2;

    --secondary-color: #2ecc71;

    --primary-bg: #242424;
    --secondary-bg:#1a1a1a;

    --text-color: rgba(255, 255, 255, 0.87);
    --border-color: rgba(255, 255, 255, 0.87);
}

@mixin LightTheme(){
    --primary-color: #646cff;
    --primary-color-accent: #747bff;

    --secondary-color: #2ecc71;

    --primary-bg: #ffffff;
    --secondary-bg:#f9f9f9;

    --text-color: #213547;
    --border-color: #213547;
}

